@using IsEnergyModel;
@{ 
    SubscribersSubdivision RequisiteSub = new SubscribersSubdivision();
 
    if(ViewBag.RequisiteSub!=null){
        RequisiteSub = ViewBag.RequisiteSub;
    }
 }

 @Html.HiddenFor(model => RequisiteSub.idSubdivision)
  
     <table>
        <tr>
        <td>@Html.DevExpress().LabelFor(model =>RequisiteSub.SubdivisionName, settings=>{
           settings.Text = "Наименование подразделения";
       }).GetHtml()</td>
        <td> @Html.DevExpress().TextBoxFor(model => RequisiteSub.SubdivisionName, settings =>
        {
            settings.Width = 200;
            settings.ShowModelErrors = true;
            settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
            settings.Properties.ValidationSettings.RequiredField.ErrorText = "Обязательное поле";
            settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
            settings.Properties.ValidationSettings.ValidationGroup = "ErrSubCreate";
        }).GetHtml()   </td> 
          
   </tr> 
         <tr>
        <td>@Html.DevExpress().LabelFor(model => RequisiteSub.SubdivisionCode, settings =>    {
            settings.Text = "Код подразделения";
         }).GetHtml()</td>
        <td> @Html.DevExpress().TextBoxFor(model => RequisiteSub.SubdivisionCode, settings =>
        {
            settings.Width = 200;
            settings.ShowModelErrors = true;
            settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
            settings.Properties.ValidationSettings.RequiredField.ErrorText = "Обязательное поле";
            settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
            settings.Properties.ValidationSettings.ValidationGroup = "ErrSubCreate";
        }).GetHtml()</td> 
          </tr>
    

         <tr>
         <td>  @Html.DevExpress().LabelFor(model =>RequisiteSub.idSubdivision, settings => {
               settings.Text = "Родительское подразделение";
         }).GetHtml()</td> 
         <td>@Html.DevExpress().ComboBoxFor(model=>RequisiteSub.IdParent,
            settings =>
{
    //settings.Name = "SubdivisionsListAdd";
    settings.Width = 400;
    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
    settings.Properties.DropDownStyle = DropDownStyle.DropDownList; 
    settings.Properties.TextFormatString = "{0} {1}";
    settings.Properties.AnimationType = AnimationType.Auto;
    settings.Properties.ValueField = "idSubdivision";
    settings.Properties.ValueType = typeof(int);
    settings.Properties.Columns.Add("SubdivisionName", "Подразделение", 200);
    settings.Properties.Columns.Add("SubdivisionCode", "Код", 50);
}).BindList(ViewData["Subdivision"]).GetHtml()   </td> 
       </tr> 
    
         <tr>
        <td>@Html.DevExpress().LabelFor(model => RequisiteSub.Comment, settings =>{
           settings.Text = "Примечание";
           }).GetHtml()</td>
        <td> @Html.DevExpress().MemoFor(model => RequisiteSub.Comment, settings =>
        {

            settings.Width = 400;
            settings.Height = 40;
            settings.ShowModelErrors = true;
        }).GetHtml()   </td> 
          
   </tr>         
    
     </table>