@model IsEnergyModel.Documents
@{
    ViewBag.Title = "Детали документа";
}
<style>
    #DetailsDocument {
        width:700px;

    }
    #labelNameDocument {
      font-weight:bold;
      font-size:20px;
    }
    #labelStateDocument {
        margin-left:15px;
        font-weight:bold;
        font-size:20px;
    }
    .DocumentInformation {
        margin:10px 0px 10px 10px;
    }
    #Sender {
        font-weight:bold;
        font-size:16px;
    }
      #Receiver {
        font-weight:bold;
        font-size:16px;
    }
    #FileDocument {
        height:300px;
        background-color:#808080;
         margin-top:100px;
    }
    #DocFlow {
       position:absolute;
       left:1100px;
       top:130px;
       
    }

</style>

<div id="DetailsDocument"> 
  <p><a style="font-size:20px;" href="#">Документ: </a><label id="labelNameDocument">@Model.NameDocument</label ><label id="labelStateDocument">@Model.State</label></p>
    <div id="DocumentInformation">
    <label>Отправитель: </label><label id="Sender">@ViewBag.Sender</label>
      @{
          if (ViewBag.SubdivisionSenderName!=null){
             <label>Подразделение: @ViewBag.SubdivisionSenderName (@ViewBag.SubdivisionSenderCode)</label>
          }
      }
        <div style="margin-left:95px">
           <label>Подписано и оитправлено: </label><label>@Model.DateSend</label><br />
           <a href="#"><img  style="cursor: pointer; vertical-align: middle;" src="~/Content/Images/stock_certificate_6701.png">Ианов И. И.</a>
             
         @{  if (Model.Comment!=null){
                   @Html.DevExpress().MemoFor(model=>model.Comment ,settings=>{
                     settings.Width=400;
                     settings.Height=90;
                  }).GetHtml()
              }
         }
        </div>
      
    </div>
    <div class="DocumentInformation">
    <label>Получатель: </label><label id="Receiver">@ViewBag.Receiver</label>
      @{
          if (ViewBag.SubdivisionReceiverName != null)
          {
             <label>Подразделение: @ViewBag.SubdivisionReceiverName (@ViewBag.SubdivisionReceiverCode)</label>
          }
      }
        <div style="margin-left:95px">
           <label>Получено: </label><label>@Model.DateReceive</label><br />
           <a href="#"><img  style="cursor: pointer; vertical-align: middle;" src="~/Content/Images/stock_certificate_6701.png">Сидоров И. И.</a>
        </div>
     
    </div>
    
</div>
<div id="DocFlow">
      <button class="action" type="button" onclick=""><span class="label">Документооборот</span></button>
</div>  
    
<div id="FileDocument">
      
     </div> 
  
