   @model IEnumerable<IsEnergyModel.DocumentsTemp>
       <script type="text/javascript">
           $(document).ready(function () {
               $('input.CheckboxSignContractor').click(function () {
                   var clickId = '#' + this.id;
                   alert(clickId);
                   var checkSignatureContractor = $(clickId).is(':checked');   
                   $.post('/DocumentFlow/GetSignatureContractor', { IdDocumentTemp: clickId, check: checkSignatureContractor });
               });
           });

           </script>  
        <div class="DocumentPanelContent" id="sample">
            @foreach (var item in Model) {
               <input class="IdDoc"  type="hidden" value="@item.IdDocumentTemp" />
               <img src="~/Content/Images/AddButton.png"><label style="font-size:14px">@Html.DisplayFor(modelItem => item.NameDocument )</label><label style="font-size:14px; margin-left:10px">Тип:  </label><label style="font-size:14px">@Html.DisplayFor(modelItem => item.TypeDocumentName)</label>
                if (item.TypeDocument != 1115101)
                {   
                  <label style="float:right; margin-right:20px"><input type="checkbox"   class="CheckboxSignContractor" id="@item.IdDocumentTemp" /> Запросить подпись контрагента</label>
                }
                @Html.TextAreaFor(modelItem => item.Comment, 0, 70, 0)<br />
                <table>
                     <tr>
                      <td>
                            <a href="#" onclick="SignDocuments(@item.IdDocumentTemp)" >Подписать и отправить</a>  
                     </td>
         
                      <td> 
                            @Ajax.ActionLink("Сохранить в черновиках", "SaveDocumentTempInReal", new { IdDocumentTemp = item.IdDocumentTemp }, new AjaxOptions { UpdateTargetId = "DocumentPanel" })
                     </td>
                     <td>
                           @Ajax.ActionLink("Удалить", "ClearDocumentFromTempList", new { IdDocumentTemp = item.IdDocumentTemp }, new AjaxOptions { UpdateTargetId = "DocumentPanel" })
                    </td>
                </table> 
                <hr />
            } 
           
              
           </div>