@model IsEnergyModel.Users
<script type="text/javascript">

    function Edit_User() {

        if (ASPxClientEdit.ValidateGroup('UserEditVG')) {
            if (confirm("Редактировать пользователя?")) {
                $('#UserEdit').attr('action', '/Users/Edit');
                $("#UserEdit").submit();
            }
        }
    }

    function Delete_User() {

        if (ASPxClientEdit.ValidateGroup('UserEditVG')) {
            if (confirm("Удалить пользователя?")) {
                $('#UserEdit').attr('action', '/Users/Delete');
                $("#UserEdit").submit();
            }
        }
    }
</script>

          <style>
   table {
   
    border-spacing: 1px; /* Расстояние между ячейками */
   }
   td, th {
  
    padding: 3px; /* Поля вокруг текста */
   }

     
  </style>

@Html.HiddenFor(model => model.IdUser)
@Html.HiddenFor(model => model.IdCertificate)

<table >
    <tr>
        <td>@Html.DevExpress().Label(settings => { settings.Width = 140; settings.Text = "Фамилия*"; }).GetHtml()</td>
        <td>@Html.DevExpress().TextBoxFor(m => m.FirstName, settings => {
                 settings.Name = "FirstName";
                 settings.Width = 200;
                 settings.ShowModelErrors = true;
                 settings.Properties.ValidationSettings.ValidationGroup = "UserEditVG";
                 settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                 settings.Properties.ValidationSettings.RequiredField.ErrorText = "Поле должно быть заполнено";
                 settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                }).GetHtml()</td>
     
   </tr>
   <tr>
        <td>@Html.DevExpress().Label(settings => { settings.Width = 140;settings.Text = "Имя*"; }).GetHtml()</td>
        <td>@Html.DevExpress().TextBoxFor(m => m.MidleName, settings => {
           settings.Name = "MidleName";
                 settings.Width = 200;
                 settings.ShowModelErrors = true;
                 settings.Properties.ValidationSettings.ValidationGroup = "UserEditVG";
                 settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                 settings.Properties.ValidationSettings.RequiredField.ErrorText = "Поле должно быть заполнено";
                 settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                }).GetHtml()</td>
     
   </tr> 
    <tr>
        <td>@Html.DevExpress().Label(settings => { settings.Width = 140; settings.Text = "Отчество*"; }).GetHtml()</td>
        <td>@Html.DevExpress().TextBoxFor(m => m.LastName, settings => {
                 settings.Name = "LastName";
                 settings.Width = 200;
                 settings.ShowModelErrors = true;
                 settings.Properties.ValidationSettings.ValidationGroup = "UserEditVG";
                 settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                 settings.Properties.ValidationSettings.RequiredField.ErrorText = "Поле должно быть заполнено";
                 settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                }).GetHtml()</td>
      
   </tr> 
    <tr>
        <td>@Html.DevExpress().Label( settings => { settings.Width = 140; settings.Text = "Логин*"; }).GetHtml()</td>
        <td>@Html.DevExpress().TextBoxFor(m => m.Login, settings => {
                 settings.Name = "Login";
                 settings.ReadOnly = true;
                 settings.Width = 200;
                }).GetHtml()</td>
      
   </tr> 
  
   <tr>
        <td>@Html.DevExpress().Label(settings => { settings.Width = 140; settings.Text = "Телефон*"; }).GetHtml()</td>
        <td>@Html.DevExpress().TextBoxFor(m => m.Phone, settings => {
                 settings.Name = "Phone";
                 settings.Width = 200;
                 //settings.Properties.MaskSettings.Mask = "8-(000)-000-00-00";
                 settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                 settings.Properties.ValidationSettings.ValidationGroup = "UserEditVG";
                 settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                 settings.Properties.ValidationSettings.RequiredField.ErrorText = "Поле должно быть заполнено";
                 settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                }).GetHtml()</td>
      
    </tr>
    <tr>
        <td>@Html.DevExpress().Label(settings => { settings.Width = 140; settings.Text = "Электронная почта"; }).GetHtml()</td>
        <td>@Html.DevExpress().TextBoxFor(m => m.Email, settings => {
                 settings.Name = "Email";
                 settings.Width = 200;
                 settings.ShowModelErrors = true;
                 settings.Properties.ValidationSettings.ValidationGroup = "UserEditVG";
                 settings.Properties.ValidationSettings.RegularExpression.ValidationExpression = @"[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}";
                 settings.Properties.ValidationSettings.RegularExpression.ErrorText = "Некорректный адрес";
                 settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                }).GetHtml()</td>
       
   </tr> 
   <tr>
        <td>@Html.DevExpress().Label(settings => { settings.Width = 140; settings.Text = "Комментарии"; }).GetHtml()</td>
        <td>
          @Html.DevExpress().MemoFor(m => m.Comment, settings => {
    		      settings.Properties.NullText = "";
                  settings.Width = 200;
                  settings.Height = 100;
	               }).GetHtml()
        </td>
       
  </tr> 
   
</table >

   <table >
     <tr>
      <td>
          <button class="action bluebtn" type="button" onclick="javascript:Edit_User();"><span class="label">Редактировать</span></button>
     </td>
          <td>  
              <button class="action bluebtn" type="button" onclick="javascript:pcModalModeEditPassword.Show();"><span class="label">Сменить пароль</span></button>
          </td>
      <td> 
          <button class="action redbtn" type="button"  onclick="javascript:Delete_User();"><span class="label">Удалить</span></button>
     </td>
         </tr>
</table> 


    



   