@using IsEnergyModel;


@{
    Address AddressSubdivision = new Address();

    if (ViewBag.SubdivisionAddress != null)
    {
        AddressSubdivision = ViewBag.SubdivisionAddress; 
    }
}
<script type="text/javascript">
    
    function SelectAddress() {
      
        var selectedIndex = TypeAddressSubdivision.GetSelectedIndex();
        $('#AddressSubdivision_TypeAddress').val(selectedIndex);
        if (selectedIndex == 0) {
           
            $('#AddressSubdivision_RF').show();
            $('#AddressSubdivision_OtherCountry').hide();
            
        }
        else {
          
            $('#AddressSubdivision_RF').hide();
            $('#AddressSubdivision_OtherCountry').show();
        }
      
    }
   
</script>

@Html.HiddenFor(model=>AddressSubdivision.TypeAddress)
@Html.HiddenFor(model=>AddressSubdivision.IdAddress)

<div id="AddressSubdivision">
   <fieldset id="AddressfieldsetSubdivision">
        <legend>
        <table>
         
       <tr>
       <td>Фактический адресс </td>
        <td>@Html.DevExpress().ComboBox(
                settings =>{

                    settings.Name = "TypeAddressSubdivision";
                    settings.Width = 150;
                    settings.Properties.ValueType = typeof(int);
                    settings.Properties.Items.Add("Российский",0).Index=0;
                    settings.Properties.Items.Add("Иностранный",1).Index=1;
                    settings.SelectedIndex = AddressSubdivision.TypeAddress;
                    settings.Properties.ClientSideEvents.CloseUp = "function(s, e) {SelectAddress()}";
                    settings.Properties.ClientSideEvents.Init = "function(s, e) {SelectAddress()}";

                }).GetHtml()</td> 
   </tr> 
            </table>    
       </legend>
  <div id="AddressSubdivision_RF">
<table>
    <tr>
        <td>@Html.DevExpress().LabelFor(model => AddressSubdivision.RF_Index, settings => {
             settings.Text = "Индекс:";
             settings.Width = 100;
            
             }).GetHtml()</td>
        <td> @Html.DevExpress().TextBoxFor(model => AddressSubdivision.RF_Index, settings => {
                 settings.Width = 120;
                 
                 settings.ShowModelErrors = true;
                 settings.Properties.ValidationSettings.Display = Display.None;
                }).GetHtml()   </td> 
   </tr> 
    <tr>
        <td>@Html.DevExpress().LabelFor(model => AddressSubdivision.RF_IdRegion, settings => {
           settings.Text = "Регион:";
           settings.Width = 140; }).GetHtml()</td>
        <td> @Html.DevExpress().ComboBoxFor(model => AddressSubdivision.RF_IdRegion, settings=>{
            settings.Properties.ValueField = "IdRegion";
            if (AddressSubdivision.RF_IdRegion != null)
            {
                settings.SelectedIndex = (int)AddressSubdivision.RF_IdRegion - 1;
            }
            settings.Width = 370;
            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
            settings.Properties.ValueType=typeof(string);
            settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
            settings.Properties.TextFormatString = "({0}) {1}";
            settings.Properties.Columns.Add("Code", "Код", 50);
            settings.Properties.Columns.Add("Name", "Название", 300);
            }).BindList(ViewData["Regions"]).GetHtml() 
        </td> 
              
   </tr> 

    <tr>
       <td>@Html.DevExpress().LabelFor(model => AddressSubdivision.RF_Area, settings => {
             settings.Text = "Район:";
             settings.Width = 140; 
             }).GetHtml()</td>

        <td> @Html.DevExpress().TextBoxFor(model => AddressSubdivision.RF_Area, settings => {
              settings.Width = 370;
            
              settings.ShowModelErrors = true;
              settings.Properties.ValidationSettings.Display = Display.None;
              }).GetHtml()   </td> 
         
   </tr> 
   <tr>
        <td>@Html.DevExpress().LabelFor(model => AddressSubdivision.RF_City, settings => {
             settings.Text = "Город:";
             settings.Width = 140; 
             }).GetHtml()</td>
        <td> @Html.DevExpress().TextBoxFor(model => AddressSubdivision.RF_City, settings => {
                 settings.Width = 370;
            
               
                 settings.ShowModelErrors = true;
                 settings.Properties.ValidationSettings.Display = Display.None;
                }).GetHtml()   </td> 
         
   </tr> 
    <tr>
         <td>@Html.DevExpress().LabelFor(model => AddressSubdivision.RF_localityCity, settings => {
             settings.Text = "Населённый пункт:";
             settings.Width = 140; 
             }).GetHtml()</td>
        <td> @Html.DevExpress().TextBoxFor(model => AddressSubdivision.RF_localityCity, settings => {
                 settings.Width = 370;
            
                 settings.ShowModelErrors = true;
                 settings.Properties.ValidationSettings.Display = Display.None;
                }).GetHtml()   </td> 
        
   </tr> 
      <tr>
        <td>@Html.DevExpress().LabelFor(model => AddressSubdivision.RF_Street, settings => {
             settings.Text = "Улица:";
             settings.Width = 140; 
             }).GetHtml()</td>
        <td> @Html.DevExpress().TextBoxFor(model => AddressSubdivision.RF_Street, settings => {
                settings.Width = 370;
            
                
                 settings.ShowModelErrors = true;
                 settings.Properties.ValidationSettings.Display = Display.None;
                }).GetHtml()   </td> 
     </tr>
</table>  
 <table>
 <tr>
      <td>@Html.DevExpress().LabelFor(model =>AddressSubdivision.RF_Home, settings => {
             settings.Text = "Дом:";
             settings.Width = 80; 
             }).GetHtml()</td>   
      <td> @Html.DevExpress().TextBoxFor(model => AddressSubdivision.RF_Home, settings => {
                 settings.Width = 90;
                 settings.ShowModelErrors = true;
                 settings.Properties.ValidationSettings.Display = Display.None;
                }).GetHtml()   </td> 

      <td>@Html.DevExpress().LabelFor(model => AddressSubdivision.RF_Housing, settings => {
             settings.Text = "Корпус:";
             settings.Width = 50; 
             }).GetHtml()</td> 
        <td> @Html.DevExpress().TextBoxFor(model => AddressSubdivision.RF_Housing, settings => { 
                 settings.Width = 85;
                 settings.ShowModelErrors = true;
                 settings.Properties.ValidationSettings.Display = Display.None;
                }).GetHtml()   </td> 
        <td>@Html.DevExpress().LabelFor(model => AddressSubdivision.RF_OfficeOrApartment, settings => {
             settings.Text = "Квартира/Оффис:";
             settings.Width = 105; 
             }).GetHtml()</td> 
        <td> @Html.DevExpress().TextBoxFor(model => AddressSubdivision.RF_OfficeOrApartment, settings => {
                 settings.Width = 85;
                 settings.ShowModelErrors = true;
                 settings.Properties.ValidationSettings.Display = Display.None;
                }).GetHtml()   </td> 
    </table>


  </div>

 <div id="AddressSubdivision_OtherCountry">
     <table>

    <tr>
        <td>@Html.DevExpress().LabelFor(model => AddressSubdivision.OtherCountry_IdCountry, settings => {
           settings.Text = "Страна:";
         }).GetHtml()</td>
        <td> @Html.DevExpress().ComboBoxFor(model=>AddressSubdivision.OtherCountry_IdCountry,
        settings=>{
           
            settings.Width = 250;
            if (AddressSubdivision.OtherCountry_IdCountry != null)
            {
                settings.SelectedIndex = (int)AddressSubdivision.OtherCountry_IdCountry;
            }
            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
            settings.Properties.TextFormatString = "({0}) {1}";
            settings.Properties.ValueField = "IdCountry";
            settings.Properties.AnimationType = AnimationType.Auto;
            settings.Properties.ValueType = typeof(int);
            settings.Properties.Columns.Add("Code", "Код", 50);
            settings.Properties.Columns.Add("Name", "Название", 200);
            settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
        }).BindList(ViewData["Countries"]).GetHtml()   
        </td> 
   </tr> 

    <tr>
        <td>@Html.DevExpress().LabelFor(model => AddressSubdivision.OtherCountry_Address, settings => {
           settings.Text = "Адресс:";
         }).GetHtml()</td>
     
        <td> @Html.DevExpress().MemoFor(model =>  AddressSubdivision.OtherCountry_Address, settings => {
             
                 settings.Width = 400;
                 settings.Height = 80;
                 settings.ShowModelErrors = true;
                 settings.Properties.ValidationSettings.Display = Display.None;
                }).GetHtml()   

        </td> 
   </tr>
   </table> 
</div>

     </fieldset>
</div>
 